@model IEnumerable<Ficha1_P1_V1.ViewModels.UserRolesViewModel>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
{
	<h1>Gestão de Users</h1>

	<table class="table table-striped table-hover table-bordered mt-4">
		<thead>
			<tr>
				<th>Foto</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model)
			{
				<tr>
					<td>
						@if (@user.Fotografia != null && @user.Fotografia.Length > 0)
						{
							<img id="MinhaFoto"
								 src="data:image/*;base64,@(Convert.ToBase64String(@user.Fotografia))"
								 style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;" />
						}
						else
						{
							<img id="MinhaFoto"
								 src="/img/user.png"
								 style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;" />
						}
					</td>
					<td>@user.PrimeiroNome @user.UltimoNome</td>
					<td>@user.Email</td>
					<td>@string.Join(" , ", user.Roles.ToList())</td>
					<td>
						<a class="btn btn-primary"
						asp-controller="UserRolesManager"
						asp-action="Details"
						asp-route-userId="@user.UserId">Gerir Roles</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
