@model Ficha1_P1_V1.Models.Arrendamento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Arrendamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.habitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.habitacao.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.locador.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.locador.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.locador.LocadorAvaliacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.locador.LocadorAvaliacao)
        </dd>

        @if (User.IsInRole("AdminEmpresa") || User.IsInRole("Admin") || User.IsInRole("Gestor") || User.IsInRole("Funcionario"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstadoEntregue)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstadoEntregue)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EquipamentosOpcionais)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EquipamentosOpcionais)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DanosHabitacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Observacoes)
            </dd>


            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstadoRecebido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstadoRecebido)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EquipamentosOpcionaisC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EquipamentosOpcionaisC)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DanosHabitacaoC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ObservacoesC)
        </dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar</a> |
    @if(User.Identity.IsAuthenticated && User.IsInRole("Cliente"))
    {
        <a class="btn btn-primary" asp-action="ReservaCliente">Avançar para o Arrendamento</a>
    }
</div>
