@model IEnumerable<Ficha1_P1_V1.Models.Arrendamento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Inicio</h1>
@if (User.Identity.IsAuthenticated)
{
	<p>
		<a asp-action="Create" class="btn btn-primary">Arrendar</a>
	</p>
}
<hr/>
<h4>Filtros:</h4>
<div >
	<div class="col-30">
		<form method="post" asp-action="Index">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="Categoria" class="control-label">Categoria:</label>
							<select name="Categoria" asp-items="ViewBag.ListaDeCategorias" class="form-control">
								<option value="">Selecione a categoria</option>
							</select>
							<span class="text-danger"></span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="Tipo" class="control-label">Tipo:</label>
							<select name="Tipo" asp-items="Html.GetEnumSelectList<TipoHabitacao>()" class="form-control">
								<option value="">Selecione o tipo</option>
							</select>
							<span class="text-danger"></span>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label for="Locador" class="control-label">Locador:</label>
							<select name="Locador" asp-items="@ViewBag.ListaDeLocadores" class="form-control">
								<option value="">Selecione o locador</option>
							</select>
							<span class="text-danger"></span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="orderBy" class="control-label">Ordenar por:</label>
							<select name="OrderBy" class="form-control">
								<option value="">Selecione opção</option>
								<option value="PrecoCrescente">Preco crescente</option>
								<option value="PrecoDecrescente">Preco decrescente</option>
								<option value="AvaliacaoCrescente">Avaliação crescente</option>
								<option value="AvaliacaoDecrescente">Avaliação decrescente</option>
							</select>
							<span class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group mt-4">
						<input type="submit" value="Pesquisar" class="btn btn-primary" />
					</div>
				</div>
			</div>
			
		</form>
        
	</div>
</div>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.habitacao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.locador)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Avaliacao)
			</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.habitacao.Localizacao)
            </td>
			<td>
				@Html.DisplayFor(modelItem => item.locador.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.locador.LocadorAvaliacao)
			</td>
	        <td>
	        @if (User.Identity.IsAuthenticated)
	        {
		        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
	        } |
	        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a> |
	        @if (User.Identity.IsAuthenticated)
	        {
		        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Apagar</a>
	        }
	        </td>
        </tr>
}
    </tbody>
</table>
