@model IEnumerable<Ficha1_P1_V1.Models.Arrendamento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated)
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}
<div>
	<div class="col-30">
		<form method="post">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="TextoAPesquisar" class="control-label">Localização:</label>
							<input type="text" id="TextoAPesquisar" name="TextoAPesquisar" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="Tipo" class="control-label">Tipo:</label>
							<select name="Tipo" asp-items="Html.GetEnumSelectList<TipoHabitacao>()" class="form-control">
								<option value="">Selecione o tipo</option>
							</select>
							<span class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="dataInicio">Data de Início:</label>
							<input type="date" name="dataInicio" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="dataFim">Data de Fim:</label>
							<input type="date" name="dataFim" class="form-control"/>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="form-group ">
						<!-- Adicione a classe "mb-0" para remover a margem inferior -->
						<label for="periodoMinimo">Período Mínimo (em dias):</label>
						<input type="number" name="periodoMinimo" class="form-control" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group mt-4">
						<!-- Adicione a classe "mb-0" para remover a margem inferior -->
						<input type="submit" value="Pesquisar" class="btn btn-primary" />
					</div>
				</div>
			</div>
			
			
			
		</form>
	
		
        
	</div>
</div>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.habitacao)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.habitacao.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locador.Id)
            </td>
	        <td>
	        @if (User.Identity.IsAuthenticated)
	        {
		        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
	        } |
	        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
	        @if (User.Identity.IsAuthenticated)
	        {
		        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
	        }
	        </td>
        </tr>
}
    </tbody>
</table>
