@model IEnumerable<Ficha1_P1_V1.Models.Arrendamento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated)
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}
<div>
	
</div>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.habitacao)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.habitacao.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locador.Id)
            </td>
	        <td>
	        @if (User.Identity.IsAuthenticated)
	        {
		        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
	        } |
	        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
	        @if (User.Identity.IsAuthenticated)
	        {
		        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
	        }
	        </td>
        </tr>
}
    </tbody>
</table>
