@model IEnumerable<Ficha1_P1_V1.Models.Arrendamento>

@{
	ViewData["Title"] = "MeusArrendamentos";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Meus Arrendamentos</h1>
<hr />
@if(User.IsInRole("Cliente"))
{
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.DataInicio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataFim)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PeriodoMinimo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PeriodoMaximo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Preco)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.habitacao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.locador)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.habitacao.QuererReserva)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Aceite)
			</th>
			@if (Model.Select(x => x.habitacao.ReservadoCliente.UserName == User.Identity.Name && x.Aceite).Contains(true))
			{
				<th>Terminar Renda</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.DataInicio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataFim)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PeriodoMinimo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PeriodoMaximo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Preco)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.habitacao.Localizacao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.locador.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.habitacao.QuererReserva)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Aceite)
				</td>
				@if (Model.Select(x => x.habitacao.ReservadoCliente.UserName == User.Identity.Name && x.Aceite).Contains(true))
				{
					<td>
						<form asp-action="TerminarRenda" method="post">
							<input type="hidden" name="id" value="@item.Id" />
							<button type="submit" class="btn btn-outline-warning">Terminar Renda</button>
						</form>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
}
else
{
	<p class="text-warning">Inicie sessão para ver os seus arrendamentos.</p>
}
<br />