@model Ficha1_P1_V1.ViewModels.PesquisaViewModel

@{
    ViewData["Title"] = "Ordenar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ordenar</h1>

<p>
    <a asp-action="Ordenar">Ordenar</a>
</p>

@{
    var orderByPreco = ViewBag.OrderByPreco ?? "Asc";
    var orderByAvaliacao = ViewBag.OrderByAvaliacao ?? "Asc";
}

@using (Html.BeginForm("Ordenar", "Arrendamentos", FormMethod.Post))
{
<label for="orderByPreco">Ordenar por Preço:</label>
<select name="OrderByPreco" id="orderByPreco">
     <option value="@(orderByPreco == "Asc" ? "selected" : "")">Crescente</option>
     <option value="@(orderByPreco == "Desc" ? "selected" : "")">Decrescente</option>
</select>

<label for="orderByAvaliacao">Ordenar por Avaliação:</label>
<select name="OrderByAvaliacao" id="orderByAvaliacao">
      <option value="@(orderByAvaliacao == "Asc" ? "selected" : "")">Crescente</option>
      <option value="@(orderByAvaliacao == "Desc" ? "selected" : "")">Decrescente</option>
</select>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeArrendamentos.GetEnumerator().Current.Preco)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.ListaDeArrendamentos.GetEnumerator().Current.habitacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeArrendamentos.GetEnumerator().Current.locador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @if (Model.ListaDeArrendamentos != null)
            {
                @foreach (Arrendamento item in Model.ListaDeArrendamentos)
                {
                        <tr>
                            <td>
                            @if (item.Preco != null)
                            {
                                @Html.DisplayFor(modelItem => item.Preco)
                            }
                            </td>
                            <td>
                            @if (item.habitacao != null)
                            {
                                @Html.DisplayFor(modelItem => item.habitacao.Id)
                            }
                            </td>
                            <td>
                            @if (item.locador != null)
                            {
                                @Html.DisplayFor(modelItem => item.locador.Id)
                            }
                            </td>
                        </tr>
                }
            }
    </tbody>
</table>
}