@model IEnumerable<Ficha1_P1_V1.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Listagem de Cursos</h1>

<p>
    <a asp-action="Create">Novo Registo de Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Designacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grau)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
    }
    </tbody>
</table>
