@model Ficha1_P1_V1.Models.Habitacao

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Apagar</h1>

<h3>Deseja apagar?</h3>
<div>
    <h4>Habitacao</h4>
    <hr />
    <dl class="row">
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Localizacao)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Localizacao)
	    </dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Tipo)
		</dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Tipo)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Categoria.Nome)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Categoria.Nome)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Descricao)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Descricao)
	    </dd>
	    
	    
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
		<a class="btn btn-primary"  asp-action="Index">Voltar</a>
    </form>
</div>
