@model Ficha1_P1_V1.Models.Habitacao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Habitacao</h4>
    <hr />
    <dl class="row">
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Localizacao)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Localizacao)
	    </dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Tipo)
		</dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Tipo)
	    </dd>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Quartos)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Descricao)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Descricao)
	    </dd>
	    
    </dl>
</div>
<div>
	<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
