@model IEnumerable<Ficha1_P1_V1.Models.Habitacao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
	    <th>
		    @Html.DisplayNameFor(model => model.Descricao)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Localizacao)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Tipo)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Quartos)
	    </th>


	    <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Descricao)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Localizacao)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Tipo)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Quartos)
		</td>



		<td>
					<a class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
		</td>
	</tr>
}
    </tbody>
</table>
