@model IEnumerable<Ficha1_P1_V1.Models.Habitacao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Inicio</h1>

<p>
	<a class="btn btn-primary" asp-action="Create">Criar nova Habitação</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
	    <th>
		    @Html.DisplayNameFor(model => model.Descricao)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Localizacao)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Tipo)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Categoria.Nome)
	    </th>


	    <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Descricao)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Localizacao)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Tipo)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Categoria.Nome)
		</td>
				@if (User.IsInRole("AdminEmpresa"))
				{
					<td>
						<a class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					</td>
				}
			</tr>
}
    </tbody>
</table>
