@model IEnumerable<Ficha1_P1_V1.Models.Habitacao>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    h1 {
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .btn-primary {
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 20px;
    }

    .card-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
    }

    .card-body {
        padding: 15px;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .btn-group {
        margin-top: 10px;
    }
</style>

<h1>Habitações</h1>
@if (User.Identity.IsAuthenticated &&
        (User.IsInRole("AdminEmpresa") || User.IsInRole("Gestor") || User.IsInRole("Funcionario")))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Criar nova Habitação</a>
    </p>
}
@if (Model.Count() == 0)
{
    <h3 class="text-warning">Não existem habitações para mostrar</h3>
}else{
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="@GetHabitationImageUrl(item.Id)" class="bd-placeholder-img card-img" alt="Habitation Image">
                <div class="card-body">
                    <p class="card-text">@item.Localizacao</p>
                    <p class="card-text">Categoria: @(item.Categoria?.Nome ?? "N/A")</p>
                    <p class="card-text">Descrição: @item.Descricao</p>
                    <p class="card-text">Tipo: @item.Tipo</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Detalhes</a>
                            @{
                                var userId = ViewBag.UserId as string;
                            }
                            @if (User.Identity.IsAuthenticated && userId == item.FuncionarioDaHabitacaoId || userId == item.GestorDaHabitacaoId)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Editar</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Apagar</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
}
@functions {
    public string GetHabitationImageUrl(int habitationId)
    {
        var habitationFiles = ViewBag.HabitationFiles as List<HabitationInfo>;

        if (habitationFiles != null)
        {
            var habitation = habitationFiles.FirstOrDefault(h => h.Id == habitationId);

            if (habitation != null && habitation.Files != null && habitation.Files.Any())
            {
                return $"/Ficheiros/{habitationId}/{habitation.Files.First()}";
            }
        }

        // Retorna a imagem padrão se não houver imagens na pasta ou se a habitaçãoId não estiver na lista
        return "/img/defaultHouse.png";
    }
}